/* General */
:root {
    --primary-border-color: #fcee0a !important;
    --primary-btn-bg-color: #222222 !important;
    --primary-btn-hover-color: #333333 !important;
    --primary-bg-color: black !important;
    --border-width: 0.25em;
    --primary-text-color: #00F0FF !important;
    --primary-margin: 0.5em !important;
    --primary-positive-color: yellowgreen;
}

@font-face {
    font-family: "Starbound";
    src: url("../public/resources/Starbound.ttf");
}

html * {
    image-rendering: pixelated !important;
    font-family: "Starbound" !important;
    border-color: var(--primary-border-color) !important;
    border-radius: var(--primary-margin) !important;
    border-width: 0.25em !important;
    color: var(--primary-text-color) !important;
}

body {
    background-image: url("../public/resources/ui/game_menu_bg.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}

button {
    width: 15em;
    border: 0.25em var(--primary-border-color) solid !important;
    background-color: var(--primary-btn-bg-color) !important;
}

button:hover {
    background-color: var(--primary-btn-hover-color) !important;
}

.dialog-close-btn {
    float: right;
    margin-left: 5px;
    right: -20px;
    top: -12px;
    width: initial;
    background-color: transparent !important;
    border: none !important;
}

.text-center {
    display: grid;
    justify-items: center;
    align-items: center;
}

.text-left {
    display: grid;
    justify-items: left;
    align-items: center;
}

.text-right {
    display: grid;
    justify-items: right;
    align-items: center;
}

/* Trader */

.dialog .MuiPaper-root {
    width: fit-content !important;
    max-width: fit-content !important;
    background-color: var(--primary-bg-color) !important;
    border: 0.25em var(--primary-border-color) solid !important;
}

.MuiDialogContent-root {
    overflow: hidden !important;
}

.trader-list-container {
    display: grid;
    grid-auto-flow: column;
    width: 512px;
    column-gap: var(--primary-margin);
}

.trader-item-list {
    max-height: 512px;
    overflow-y: scroll !important;
}

.trader-item-list-empty {
    width: 554px;
    max-height: 512px;
    overflow-y: scroll !important;
    text-align: center;
}

.trader-image {
    width: 256px;
    height: 256px;
    border: solid;
    margin-top: var(--primary-margin);
    margin-bottom: var(--primary-margin);
}

.trader-info-container {
    border: solid;
    background-color: var(--primary-bg-color);
    height: 50px;
    box-sizing: border-box;
}

.trader-gold-container {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 6fr 1fr;
    justify-items: right;
}

.item-image-32 {
    width: 32px;
    height: 32px;
}

.item-image-64 {
    width: 64px;
    height: 64px;
}

.trader-tab-container {
    background-color: var(--primary-btn-bg-color);
    width: 100%;
    margin-bottom: var(--primary-margin);
    border: solid;
    box-sizing: border-box;
    height: 50px;
}

.trader-tab-btn {
    background-color: transparent !important;
    border: none !important;
    width: 50%;
}

.trader-tab-btn:hover {
}

/* TraderListItem */
.trader-list-item-container {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    border: solid;
    margin-bottom: var(--primary-margin);
    padding: var(--primary-margin);
}

.trader-list-item-image {
    display: grid;
    justify-items: center;
    border: solid;
    border-radius: var(--primary-margin);
    width: 64px;
    height: 64px;
    padding: 4px;
}

.trader-list-item-name {
    width: 256px;
    padding-left: 16px;
}

.trader-list-item-buy-btn {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
}

.trader-list-item-price {
    text-align: right;
}

.trader-list-item-gold {
    width: 32px;
    height: 32px;
}

/* Game Menu */

.game-menu-title {
    font-size: 64px;
    font-weight: bold;
    color: var(--primary-border-color) !important;
    -webkit-text-stroke: 1px var(--primary-btn-bg-color);
}

.game-menu {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 50vh;
}

/* Navigation Menu */
.navigation-menu {
    border-radius: 0 0 var(--primary-margin) var(--primary-margin) !important;
    border: 1px solid var(--primary-border-color);
    background-color: var(--primary-bg-color);
    width: 100%;
    /*height: 3em;*/
    column-gap: 10px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: right;
    grid-template-columns: 50fr 5fr 5fr 1fr;
}

.navigation-stat-container {
    display: grid;
    column-gap: 0.5em;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
}

/* Inventory */
.inventory-container {
    display: grid;
    grid-template-rows: 64px;
    grid-auto-rows: 64px;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 8px;
    row-gap: 16px;
    width: 412px !important;
}

.inventory-btn {
    margin: var(--primary-margin) !important;
    height: 2.5em !important;
    width: 10em !important;
}

.inventory-item {
    position: relative;
    width: 74px;
    height: 74px;
    display: grid;
    align-items: center;
    justify-items: center;
    border: solid;
}

.inventory-item-amount {
    position: absolute;
    font-size: 20px;
    bottom: -6px;
    right: 0;
}

.transparent-bg {
    background-image: none;
}

/* Nodes */

.node-1 {
    background-image: url("../public/resources/ui/apartments.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}

.node-2 {
    background-image: url("../public/resources/ui/square.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}

.node-3 {
    background-image: url("../public/resources/ui/streets.gif");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}

.node-4 {
    background-image: url("../public/resources/ui/market.gif");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}

.node-5 {
    background-image: url("../public/resources/ui/club.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}


/* Node Menu*/

.node--button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100vw;
    height: 93vh;
}

.goUpButton {
    justify-content: center;
    place-self: start end;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    width: 70%;
}

.goNorthButton {
    justify-content: center;
    place-self: center end;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    width: 70%;
}

.goWestButton {
    justify-content: center;
    place-self: center center;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    width: 70%;
}

.goEastButton {
    justify-content: center;
    place-self: center end;
    grid-row: 3 / 4;
    grid-column: 7 / 8;
    width: 70%;
}

.goSouthButton {
    justify-content: center;
    place-self: center end;
    grid-row: 6 / 7;
    grid-column: 4 / 5;
    width: 70%;
}

.goDownButton {
    justify-content: center;
    place-self: end end;
    grid-row: 6 / 7;
    grid-column: 6 / 7;
    width: 70%;
}

/* ActionMenu */
.action-menu {
    background-color: var(--primary-bg-color);
    border: solid;
    height: 128px;
    position: absolute;
    top: 32px;
    left: 32px;
    z-index: 9999;
}

.open {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.action-menu-btn {
    color: var(--primary-positive-color) !important;
    padding: 8px !important;
    width: 10em;
}

.MuiBackdrop-root {
    opacity: 0 !important;
}
