/* General */
:root {
  --primary-border-color: #B14C01 !important;
  --primary-btn-bg-color: #DC7B06 !important;
  --primary-bg-color: #FFC375 !important;
  --border-width: 0.25em;
  --primary-text-color: #221122 !important;
  --primary-margin: 0.5em !important
}

@font-face {
  font-family: "Starbound";
  src: url("../public/resources/Starbound.ttf");
}

html * {
  image-rendering: pixelated !important;
  font-family: "Starbound" !important;
  border-color: var(--primary-border-color) !important;
  border-radius: var(--primary-margin) !important;
  border-width: 0.25em !important;
  color: var(--primary-text-color) !important;
}

body {
  background-image: url("../public/resources/ui/game_menu_bg.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
}

button {
  width: 15em;
  border: 0.25em var(--primary-border-color) solid !important;
  background-color: var(--primary-btn-bg-color) !important;
}

button:hover {
  background-color: #cc711b !important;
}

.dialog-close-btn {
  float: right;
  margin-left: 5px;
  right: -20px;
  top: -12px;
  width: initial;
  background-color: transparent !important;
  border: none !important;
}

.text-center {
  display: grid;
  justify-items: center;
  align-items: center;
}

.text-left {
  display: grid;
  justify-items: left;
  align-items: center;
}

.text-right {
  display: grid;
  justify-items: right;
  align-items: center;
}

/* Trader */

.dialog .MuiPaper-root {
  width: fit-content !important;
  max-width: fit-content !important;
  background-color: var(--primary-bg-color) !important;
  border: 0.25em var(--primary-border-color) solid !important;
}

.trader-list-container {
  display: grid;
  grid-auto-flow: column;
  width: 512px;
  column-gap: var(--primary-margin);
}

.trader-image {
  width: 256px;
  height: 256px;
  border: solid;
  margin-top: var(--primary-margin);
  margin-bottom: var(--primary-margin);
}

.trader-info-container {
  border: solid;
  background-color: var(--primary-bg-color);
  height: 50px;
  box-sizing: border-box;
}

.trader-gold-container {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 6fr 1fr;
  justify-items: right;
}

.item-image-32 {
  width: 32px;
  height: 32px;
}

.item-image-64 {
  width: 64px;
  height: 64px;
}

.trader-tab-container {
  background-color: var(--primary-btn-bg-color);
  width: 100%;
  margin-bottom: var(--primary-margin);
  border: solid;
  box-sizing: border-box;
  height: 50px;
}

.trader-tab-btn {
  background-color: transparent !important;
  border: none !important;
  width: 50%;
}

.trader-tab-btn:hover {
}

/* TraderListItem */
.trader-list-item-container {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  border: solid;
  margin-bottom: var(--primary-margin);
  padding: var(--primary-margin);
}

.trader-list-item-image {
  display: grid;
  justify-items: center;
  border: solid;
  border-radius: var(--primary-margin);
  width: 64px;
  height: 64px;
}

.trader-list-item-name {
  width: 256px;
  padding-left: 16px;
}

.trader-list-item-buy-btn {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}

.trader-list-item-price {
  text-align: right;
}

.trader-list-item-gold {
  width: 32px;
  height: 32px;
}

/* Game Menu */

.game-menu-title {
  font-size: 64px;
  font-weight: bold;
  color: var(--primary-border-color) !important;
  -webkit-text-stroke: 1px var(--primary-btn-bg-color);
}

.game-menu {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 50vh;
}

/* Navigation Menu */
.navigation-menu {
  border-radius: 0 0 var(--primary-margin) var(--primary-margin) !important;
  border: 1px solid var(--primary-border-color);
  background-color: var(--primary-bg-color);
  width: 100%;
  /*height: 3em;*/
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: right;
  grid-template-columns: 5fr 50fr 5fr 5fr 1fr;
}

.navigation-stat-container {
  display: grid;
  column-gap: 0.5em;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}

/* Inventory */
.inventory-container {
  display: grid;
  grid-template-rows: 64px;
  grid-auto-rows: 64px;
  grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
  column-gap: 8px;
  row-gap: 16px;
  width: 50vw;
}

.inventory-btn {
  margin: var(--primary-margin) !important;
  height: 2.5em !important;
  width: 10em !important;
}

.inventory-item {
  position: relative;
  width: 74px;
  height: 74px;
  display: grid;
  align-items: center;
  justify-items: center;
  border: solid;
}

.inventory-item-amount {
  position: absolute;
  font-size: 20px;
  bottom: -6px;
  right: 0;
}

.transparent-bg {
  background-image: none;
}
